body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1{
    text-align: center;
    color: tomato;
    font-size: 32pt;
    font-weight: bold;
}

#displayResult{
    font-size: 36pt;
    font-weight: bold;
    color: rgb(233, 13, 130);
    text-align: center;
    padding: 32px;
}

p{
    text-align: center;
    font-size: 32pt;
}

.choices{
    font-size: 32pt;
    margin: 0 640px;
    text-align: center;
}
.displayScore{
    border:solid black;
    border-radius: 1rem;
    padding: 1rem;
}

#displayHumanChoice,
#displayHumanScore{
    color: green;
    font-size: 32pt;
}

#displayComputerChoice,
#displayComputerScore{
    color: blue;
    font-size: 32pt;
}

button{
    color: rgb(244, 31, 244);
    font-size: 7.5rem;
    cursor: pointer;
    border-radius: 10%;
    min-width: 160px;
    margin-bottom: 60px;
    border:rgb(239, 27, 239);
}

button:hover{
    border: 3px solid rgb(244, 6, 244);
}